* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.logo {
  height: 160px;
}

.foto-taza-index {
  height: 400px;
  margin: 42px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}

.foto-plato-index {
  height: 400px;
  margin: 42px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  width: 300px;
}

.foto-fuente-index {
  height: 400px;
  margin: 42px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}

.titulo-h2-index {
  color: #e76480;
  font-size: 30px;
  font-weight: bold;
}

.introducion-sobre-mi {
  text-align: center;
  margin: 25px;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.productos-title {
  font-size: 45px;
  font-weight: bold;
  color: #e76480;
  text-align: center;
  margin-top: 45px;
}

.productos {
  margin-top: 60px;
  padding: 0 20px;
  margin-bottom: 30px;
}
.productos__cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.productos__cards .card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  max-width: 360px;
  transition: all 0.6s;
}
.productos__cards .card__title {
  margin-bottom: 20px;
  font-size: 20px;
}
.productos__cards .card__description {
  margin-bottom: 40px;
}
.productos__cards .card__button {
  background-color: #e76480;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 0px;
}
.productos__cards .card__button:hover {
  background-color: rgb(238, 123, 148);
  transition: all 0.6s;
}
.productos__cards .card__header {
  position: relative;
}
.productos__cards .card__header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}
.productos__cards .card__header small {
  padding: 8px;
  color: white;
  background-color: rgba(255, 255, 255, 0.527);
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.modal-content {
  max-width: 400px;
}

.card:hover {
  transform: translateY(-20px);
}

@media (min-width: 768px) {
  .productos__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .productos__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.preguntas-title {
  font-size: 45px;
  font-weight: bold;
  color: #e76480;
  text-align: center;
  margin-top: 30px;
}

.preguntas__container {
  margin-top: 50px;
  text-align: center;
  display: grid;
  gap: 50px;
  margin-bottom: 50px;
}

.preguntas__color {
  color: #e76480;
  font-weight: bold;
  font-size: 18px;
}

.logos-footer-1 {
  display: flex;
  gap: 20px;
  position: relative;
  font-size: 20px;
  margin-left: 30px;
}

.footer__container {
  background: linear-gradient(rgb(192, 221, 238), lightskyblue);
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redes {
  text-decoration: none;
  color: rgb(33, 25, 102);
}

.contactanos {
  padding-right: 20px;
}
.contactanos h4 {
  margin: 0px 0px 8px 0px;
  color: rgb(33, 25, 102);
}
.contactanos p {
  margin: 0px;
}

.header {
  padding: 30px 20px;
  background: linear-gradient(lightskyblue, rgb(192, 221, 238));
}

.header__container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container__navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  display: none;
}
.header__container__navbar li a {
  color: #e76480;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  transition: all 0.6s;
}
.header__container__navbar__mobile i {
  font-size: 35px;
  color: #e76480;
}
.header__container__navbar__mobile ul {
  position: absolute;
  left: 0;
  top: 95px;
  background: linear-gradient(rgb(192, 221, 238), white);
  width: 100%;
  display: none;
}
.header__container__navbar__mobile ul a {
  margin: 0px 0px;
  display: flex;
  justify-content: center;
}
.header__container__navbar__mobile ul li {
  padding: 20px 0;
  text-align: center;
}
.header__container__navbar__mobile ul li a {
  font-weight: bold;
  color: #e76480;
}
.header__container__navbar__mobile:hover ul {
  display: block;
}

.header__container h3 a {
  color: #e76480;
  font-style: italic;
}

.header__container__navbar li a:hover {
  background-color: rgb(165, 213, 243);
  transform: translate(-6px, -6px);
  border-radius: 10px;
  box-shadow: 0px 2px 0 0px #e76480;
}

#botonCarrito {
  background-color: transparent;
  border: 0px;
  color: #e76480;
}

@media (min-width: 768px) {
  .header__container__navbar {
    display: flex;
  }
  .header__container__navbar__mobile {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
