
 


.header {
    padding: 30px 20px;
    background: linear-gradient($lightblue, rgb(192, 221, 238));
}

.header__container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        display: none;
        li{
            
            a{
                color: $fontlight;
                font-weight: bold;
                padding: 10px 20px;
                border-radius: 10px;
                display: flex;
                transition: all 0.6s;
                // box-shadow: 0px 2px 0 0px;
            }
        }
    }
    &__navbar__mobile{
        i {
            font-size: 35px;
            color: $fontlight;
        }
        ul {
            position: absolute;
            left: 0;
            top: 95px;
            background: linear-gradient(rgb(192, 221, 238), white);
            width: 100%;
            display: none;
            li {
                padding: 20px 0;
                text-align: center;
                a{
                    font-weight: bold;
                    color: $fontlight
                }
            }
        }
        &:hover ul {
            display: block;
        }
    }
}
.header__container h3 a {
    color: $fontlight;
    font-style: italic;
    
}
.header__container__navbar li a:hover {
    background-color: rgb(165, 213, 243);
    transform: translate(-6px, -6px);
    border-radius: 10px;
    box-shadow: 0px 2px 0 0px $fontlight;
    
}





@media(min-width: $bpSmall) {
    .header__container__navbar{
        display: flex;
    }
    .header__container__navbar__mobile{
        display: none;
    }
}







