.logo {
    height: 160px;
    margin: 30px;
    display: flex;
    padding-left: 80px;
    
 }
@media(min-width: $bpSmall) {

}

@media(min-width: $bpMedium) {
    .logo{
        padding-left: 400px;
    }
}

@media(min-width: $bpLarge) {
    .logo{
        padding-left: 450px;
        height: 200px;
    }
}

@media(min-width: $bpXl) {
    .logo{
        padding-left: 700px;
    }
}
@media(min-width: $bpXXl) {
    .logo{
        padding-left: 800px;
    }
}