.productos-title {
    font-size:  45px;
    font-weight: bold;
    color: $fontlight;
    text-align: center;
    margin-top: 30px;
}
.productos {
    margin-top: 60px;
    padding: 0 20px;
    margin-bottom: 30px;
    &__cards {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
         .card {
             background-color: #fff;
             border-radius: 10px;
             padding: 20px;
             box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
             max-width: 360px;
             transition: all 0.6s;
             &__title {
                margin-bottom: 20px;
                font-size: 20px;
            }
            &__description {
                margin-bottom: 40px;
            }
            
            &__link {
                background-color: $fontlight;
                color: #fff;
                font-weight: bold;
                padding: 15px 0;
                border-radius: 10px;
                width: 100%;
                display: block;
                text-align: center;
                text-decoration: none;
                &:hover{
                    background-color: rgb(238, 123, 148);
                    transition: all 0.6s;
                }
            }

            &__header {
                position: relative;
                img {
                    width: 100%;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    object-fit: cover;
                }
                small {
                    padding: 8px;
                    color: white;
                    background-color: rgba(255, 255, 255, 0.527);
                    font-weight: bold;
                    text-transform: uppercase;
                    position: absolute;
                    right: 0;
                    border-bottom-left-radius: 10px;
                    
                }
             }
        
    }
    }
    }


.card:hover {
transform: translateY(-20px);
}

    @media(min-width: $bpSmall) {
        .productos__cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media(min-width: $bpMedium) {
        .productos__cards{
            grid-template-columns: repeat(3, 1fr);
        }
    }